body{
    font-family: 'Open Sans Condensed', sans-serif;
}
/*NAV*/
.logo{
    width: 190px;
    height: 95%;
}
.contenedor_navs{
    display: flex;
    flex-direction: column;
    height: 12vh;
    width: 100%;
    position: fixed;
}
#contenedor_sub{
    display: flex;
    justify-content: flex-end;
    height: 40%;
    background: rgba(136, 48, 207, 0.384);
}
#contenedor_link_sub{
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#contenedor_principal{
    display: flex;
    justify-content: space-evenly;
    height: 60%;
    background: rgba(255, 255, 255, 0.719);
}
#contenedor_link_princi{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
#afiliacion{
    display: flex;
    width:25%;
    border-radius: 13px;
    background: #7216afcc;
}
#contenedor_afiliar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}
.items>a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
.sign-in{
    margin:3px;
}
/*NAV*/
/*NAV-RESPONSIVE*/
.hamburguesa{
    display: none;
}
#contenedor_principal_responsive{
    display: none;
}
/*NAV-RESPONSIVE*/
/*Imagen central*/
#header{
    width: 100%;
    height: 95vh;
    position: relative;
}
.img_header{
    background: url(../fotos/img4.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
/*Imagen central*/
/*Informacion*/
.informacion{
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
    height: 55vh;
    margin-top: 10px;
}
.asesoria{
    height: 100%;
    width: 49%;
    background-image: linear-gradient(to right, rgba(248, 54, 0, 0.404) 0%, rgba(249, 213, 35, 0.404) 100%),url("../fotos/nutricion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.virtual{
    height: 100%;
    width: 49%;
    background-image: linear-gradient(to right, rgba(248, 54, 0, 0.404) 0%, rgba(249, 213, 35, 0.404) 100%),url("../fotos/virtual.jpg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
.subtitulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 1.2em;
    height: 100%;
}
.contenedor_boton{
    color:black;
    width:40%;
    height:14%;
    text-align: center;
}
.botones{
    border: 2px solid #fff;
    font-size: 1em;
    font-weight: 600;
    background: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*Informacion*/
/*Footer*/
.contenedor_footer{
    margin-top:10px ;
    text-align: center;
    height: 40vh;
    background: #000000;
}
#RedeSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.contenedor_links_redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 60%;
    list-style: none;
}
.texto_redes{
    font-size: 1.6em;
    padding: 15px;
    color: #fff;
}
.items_redes>a,.items_redes>a>span{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    margin: 5px;
}
/*Footer*/

/*
540px Dispositivos pequeños: celulares etc. 

720px Dispositivos medianos: tablets, algunos pc.

960px Dispositivos largos: pc de escritorio.

1140px Dispositivos extra largos: televisores y algunos pc
*/

@media screen and (max-width: 540px ){
#contenedor_link_princi{
    display: none;
}
#afiliacion{
    display: none;
}
.items{
    list-style: none;
}
#contenedor_sub{
    display: none;
}
.hamburguesa{
    display: flex;
    align-self: center;
    height: 70%;
}
.hamburguesa>i{
    height: 100%;
    font-size: 1em;
    cursor: pointer;
}
#contenedor_principal{
    display: flex;
    height: 8vh;
    justify-content: space-between;
}
#contenedor_principal_responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
hr{
    width: 100%;
}
#contenedor_link_responsive{
    display: flex;
    background: rgba(255, 255, 255, 0.719);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:30vh;
    width: 100%;
}
#afiliacion_responsive{
    display: flex;
    justify-content: center;
    background:#7216afcc;
    border-radius: 13px;
    width: 100%;
    height: 15%;
}
.bt-ingresar>a{
    color: black;
}
.informacion{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}
.asesoria{
    width: 100%;
    height: 49%;
}
.virtual{
    width: 100%;
    height: 49%;
}
.titulo_info{
    font-size: 1em;
}
.subtitulo_info{
    font-size: 1em;
}
.contenedor_footer{
    margin-top:10px ;
    text-align: center;
    height: 40vh;
    background: #000000;
}
#RedeSociales{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.contenedor_links_redes{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 60%;
    list-style: none;
}
.texto_redes{
    font-size: 1em;
    padding: 15px;
    color: #fff;
}
.items_redes>a,.items_redes>a>span{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    margin: 5px;
}
}
@media screen and (max-width:720px){
#contenedor_link_princi{
    display: none;
}
#afiliacion{
    display: none;
}
.items{
    list-style: none;
}
#contenedor_sub{
    display: none;
}
.hamburguesa{
    display: flex;
    align-self: center;
    height: 70%;
    cursor: pointer;
}
.hamburguesa>i{
    height: 100%;
    font-size: 1em;
    cursor: pointer;
}
#contenedor_principal{
    display: flex;
    justify-content: space-between;
}
#contenedor_principal_responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
hr{
    width: 100%;
}
#contenedor_link_responsive{
    display: flex;
    background: rgba(255, 255, 255, 0.719);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:30vh;
    width: 100%;
}
#afiliacion_responsive{
    display: flex;
    justify-content: center;
    background:#7216afcc;
    border-radius: 13px;
    width: 100%;
    height: 15%;
}
.bt-ingresar>a{
    color: black;
}
.informacion{
    display: flex;
    flex-basis: 100vw;
    height: 80vh; 
    flex-direction: column;
    overflow: hidden;
}
.asesoria{ 
    width: 100%;
    height:49%;
}
.virtual{
    width: 100%;
    height: 49%;
}
.contenedor_boton{
    width: 50%;
}
.botones{
    font-size: .8em;
}
.titulo_info{
    font-size: 1.2em;
}
.subtitulo_info{
    font-size: .9em;
}
.texto_redes{
    font-size: .99em;
    padding: 15px;
    color: #fff;
}
.items_redes>a,.items_redes>a>span{
    color: #fff;
    font-size: 1.1em;
    margin: 5px;
}
}
@media screen and (max-width:1034px){    
#contenedor_link_princi{
    display: none;
}
#afiliacion{
    display: none;
}
.items{
    list-style: none;
}
#contenedor_sub{
    display: none;
}
.hamburguesa{
    display: block;
    font-size: 1.7em;
    margin: 15px;
    cursor: pointer;
}
#contenedor_principal{
    display: flex;
    justify-content: space-between;
}
#contenedor_principal_responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
hr{
    width: 100%;
}
#contenedor_link_responsive{
    display: flex;
    background: rgba(255, 255, 255, 0.719);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:30vh;
    width: 100%;
}
#afiliacion_responsive{
    display: flex;
    justify-content: center;
    background:#7216afcc;
    border-radius: 13px;
    width: 100%;
        height: 15%;
}
.bt-ingresar>a{
    color: black;
}    
.informacion{
    display: flex;
    flex-basis: 100vw;
    height: 80vh; 
    flex-direction: column;
    overflow: hidden;
}
.asesoria{ 
    width: 100%;
    height:49%;
}
.virtual{
    width: 100%;
    height: 49%;
}
.titulo_info{
    font-size: 1.2em;
}
.subtitulo_info{
    font-size: .9em;
}
.texto_redes{
    font-size: 1.1em;
    padding: 15px;
    color: #fff;
}
.items_redes>a,.items_redes>a>span{
    color: #fff;
    font-size: 1.3em;
    margin: 5px;
}
}
