body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#contenedor_main{
    width: 100%;
    height: 7.5vh;
}
#contenedor_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.conteiner_logo{
    width: 60%;
    margin-left: 1.2em;
}
#sectionOneNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 77%);
    background: #F39C12;
}
#sectionTwoNav{
    display: flex;
    background: black;
    /*background: #154360;*/
    justify-content: space-between;
    width: 77%;
}
.contenedor_iconos{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icono{
    border: 2px solid white;
    font-size: 1.4em;
    padding: 0.2em 0.2em;
    border-radius: 15px;
    color: black;
    background: #F39C12;
}
.contenedor_boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 0 0.3em;
    height: 7vh;
}
#log_out{
    width: 90%;
    height: 80%;
    background: #F39C12;
    font-size: 1.1em;
    border:none;
    border-radius: 5px;
    outline: none;
}
:root{
    --colorletras:black
}
.icon_slider{
    color: black;
    padding: 0 0.4em;
    font-size: 1.4em;
}
.contenedor_info{
    height: calc(100vh - 7.5vh);
    display: flex;
}
.slider_options{
    width: 20%;
    background:#F4D03F;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.datos_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 24%;
}
#picture{
    height: 70%;
    width: 35%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:url("fotos/usuario.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#name{
    border:2px solid #AF7AC5 ;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    color: var(--colorletras);
    height: 20%;
    width: 50%;
}
.options{
    height:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
#consulta{
    font-size: 1.3em;
    color: var(--colorletras);
    text-align: center;
    border:2px solid white;
    background:#F4D03F;
    border-radius: 10px;
    padding: 0.4em 0;
    height: 15%;
    width: 70%;
}
#progreso{
    font-size: 1.3em;
    color: var(--colorletras);
    text-align: center;
    border:2px solid white;
    background:#F4D03F;
    border-radius: 10px;
    padding: 0.4em 0;
    height: 15%;
    width: 70%;
}
#actualizar_data{
    font-size: 1.3em;
    color: var(--colorletras);
    text-align: center;
    border:2px solid white;
    background:#F4D03F;
    border-radius: 10px;
    padding: 0.4em 0;
    height: 15%;
    width: 70%;
}
#suspend_acount{
    font-size: 1.3em;
    color: var(--colorletras);
    text-align: center;
    border:2px solid white;
    background:#F4D03F;
    border-radius: 10px;
    padding: 0.4em 0;
    height: 15%;
    width: 70%;
}
#delete_acount{
    font-size: 1.3em;
    text-align: center;
    border:2px solid white;
    background:#F4D03F;
    border-radius: 10px;
    color: var(--colorletras);
    padding: 0.4em 0;
    height: 15%;
    width: 70%;
}
.tablero{
    width: 80%;
    background:#ECF0F1 ;
}